root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab

ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_kdoc = disabled

# OpenAPI-generated sources
[services/spring-api/src/main/kotlin/org/openapitools/model/**]
ktlint = disabled

[services/spring-api/src/main/kotlin/org/openapitools/{SpringDocConfiguration,api/AIApi,api/ApiUtil,api/Exceptions,api/RecipesApi,api/UsersApi}.kt]
ktlint = disabled
