# Secrets and Environment
.env
.env.local
*.secret

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/

# Java (Spring Boot)
target/
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
*.war
.mvn/
.gradle/
build/
.kotlin/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Claude Code
/CLAUDE.md
/.claude
²

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfvars

# Ansible
local_secrets.yml
id_rsa
infra/k8s-secrets.env
