server {
    listen 80;
    server_name client.{{ inventory_hostname }}.nip.io;
    location / {
        proxy_pass http://web-client:8080;
        proxy_set_header Host $host;
    }
    
    resolver 127.0.0.11 valid=30s;

    location = / {
        return 301 /team-devsecops/;
    }
}

server {
    listen 80;
    server_name api.{{ inventory_hostname }}.nip.io;
    location / {
        proxy_pass http://spring-api:8080;
        proxy_set_header Host $host;
    }
}
